
.nav-tabs{
	background-color: #555;
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	line-height: 1.125em;
	color: white;
	background-color: black;
}


a {
	text-decoration: none;
	color: white;
}

/* sensor */
.hostdiv {
	/*top: 50px;*/
	width: 80%;
	border-radius: 5px;
	background-color: rgba(0, 0, 15, 0.7);
	margin: 0px auto;
	position: relative;
	padding: 5px;
	border: 1px solid #666;
}

.callfromto { display: inline; }
.callDuration { display: inline; }
.callDate { display: inline; float: right; }
.callStatus { display: inline; float: right; }


