.affix {
      top: 0;
      width: 100%;
      z-index: 100;
}
.affix + .container-fluid {
      padding-top: 70px;
}

.red {
	color: red;
}

.panel-group {
	/*margin: 20px;*/
}
.panel-heading {
	color: #31708f;
	color: #FFF;
	background-color: #555;
}
.panel-body {
	background-color:rgba(0, 0, 0, 0.6);
}
.panel {
	border: 0px solid transparent;
	background-color:rgba(0,0,0,0);
}

.dropdown-menu { background-color: #222}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu > .active > a:hover { background-color: #000}
.dropdown-menu>li>a { color: #999}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #fff}
.dropdown-menu>.divider { background-color: #000}

@media (min-width: 768px) {
	li.dropdown:hover > .dropdown-menu {
	    display: block;
	}
}

.nav-tabs{
	background-color: #555;
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	line-height: 1.125em;
	color: white;
	background-color: black;
}


a {
	text-decoration: none;
	color: white;
}

/* sensor */
.hostdiv {
	/*top: 50px;*/
	width: 80%;
	border-radius: 5px;
	background-color: rgba(0, 0, 15, 0.7);
	margin: 0px auto;
	position: relative;
	padding: 5px;
	border: 1px solid #666;
}

.callfromto { display: inline; }
.callDuration { display: inline; }
.callDate { display: inline; float: right; }
.callStatus { display: inline; float: right; }


